.linkSingapore{
  color: white;
  text-decoration: none;
  position: relative;
}
.linkSingapore::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 2px;
    background: #FF5B4D;
    transition: all 0.3s ease-in-out;
}
.linkSingapore:hover::after{
    top: 110%;
}