.linkSectionCuatro{
  color: white;
  text-decoration: none;
  position: relative;
}
.linkSectionCuatro::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 2px;
    background: #4DFFC9;
    transition: all 0.3s ease-in-out;
}
.linkSectionCuatro:hover::after{
    top: 110%;
}
.contentBackgroundLeftTopSectionCuatro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0 100%);
    position: relative;
    padding-left: 5em;
}
.contentBackgroundRightTopSectionCuatro{
    position: relative;
    width: 40%;
    clip-path: polygon(8% 0%, 100% 0, 100% 100%, 0 100%);
}
.contentBackgroundRightTopSectionCuatro::before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    opacity: .2;
    transition: all .3s ease-in-out;
}
.contentBackgroundRightTopSectionCuatro:hover{
    cursor: pointer;
}
.contentBackgroundRightTopSectionCuatro:hover::before{
    background: white;
}
.contentBackgroundLeftTopSectionCuatro p{
    width: 60%;
    text-align: center;
}
.contentBackgroundLeftTopSectionCuatro::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.05; 
}
.contentBackgroundSectionCuatro{
    display: flex;
    height: 350px;
}
.contentBackgroundRightBottomSectionCuatro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 7% 100%);
    position: relative;
}
.contentBackgroundRightBottomSectionCuatro p{
    width: 58%;
    text-align: center;
}
.contentBackgroundRightBottomSectionCuatro::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.05; 
}
.contentBackgroundLeftBottomSectionCuatro{
    position: relative;
    width: 40%;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
}
.contentBackgroundLeftBottomSectionCuatro::before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    opacity: .2;
    transition: all .3s ease-in-out;
}
.contentBackgroundLeftBottomSectionCuatro:hover{
    cursor: pointer;
}
.contentBackgroundLeftBottomSectionCuatro:hover::before{
    background: white;
}