.OrganismoDos{
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    padding: 10em 15%;
}
.contentBackgroundOrganismoDos{
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}
.contentBackgroundLeft{
    width: 75%;
    height: 100%;
    background: #2F3231;
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
}
.contentBackgroundRight{
    width: 25%;
    height: 100%;
    background: #2F3231;
    clip-path: polygon(5% 0, 100% 0,100% 100%, 15% 100%);
}
.contetnInfoOrganismoDos{
    width: 100%;
    display: flex;
    z-index: 10;
    gap: 2em;
}
.contentTextOrganismoDos{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contentRightImagenOrganismoDos{
    width: 60%;
}
.contentImageOrganismoDos{
    width: 100%;
    height: 860px;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
}
.contentImageOrganismoDos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentImageOrganismoDos::before{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    opacity: .2;
    transition: all .3s ease-in-out;
}
.contentImageOrganismoDos:hover{
    cursor: pointer;
}
.contentImageOrganismoDos:hover::before{
    background: white;
}
@media only screen and (max-width:1025px){
    
}
@media only screen and (max-width:430px){
    .OrganismoDos{
        margin-top: 18em;
    }
    .contetnInfoOrganismoDos{
        flex-direction: column;
    }
    .contentTextOrganismoDos,.contentRightImagenOrganismoDos{
        width: 100%;
    }
    .contentImageOrganismoDos{
        clip-path: none;
    }
    .OrganismoDos{
        padding: 5em 0;
    }
    .contentTextOrganismoDos p{
        padding-right: 1em;
        padding-left: 1em;
    }
    .tagTituloOrganismo{
        margin-left: 1.5em;
    }
}